[submodule "lib/ansible/modules/core"]
	path = lib/ansible/modules/core
	url = git://github.com/dataxu/ansible-modules-core
	branch = dx-stable-2.2
[submodule "lib/ansible/modules/extras"]
	path = lib/ansible/modules/extras
	url = git://github.com/dataxu/ansible-modules-extras
	branch = dx-stable-2.2
