[submodule "lib/ansible/modules/core"]
	path = lib/ansible/modules/core
	url = https://github.com/dataxu/ansible-modules-core
	branch = dx-stable-2.1
[submodule "lib/ansible/modules/extras"]
	path = lib/ansible/modules/extras
	url = https://github.com/ansible/ansible-modules-extras
